@model IEnumerable<webshop.Models.CartItem>

@{
    ViewBag.Title = "show customer cart information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>


        <td>
            @Html.ActionLink("Return to shop", "../Store/Index",
                new { @class = "btn" })

        </td>
       
    </tr>
</table>
